{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'car-details.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <img class="car-image" src="{{ car.image }}" alt="">
        <div class="data-container">
            <div class="car-brand-model">{{ car.brand }} {{ car.model }}</div>
            <div class="car-properties-container">
                <div class="car-labels">
                    Manufacture year:<br>
                    Transmission:<br>
                    Horsepower:<br>
                    Mileage:<br>
                    Price:<br>
                </div>
                <div class="car-properties">
                    {{ car.manufacture_year }}<br>
                    {{ car.transmission }}<br>
                    {{ car.horsepower }} hp.<br>
                    {{ car.mileage }} km.<br>
                    ${{ car.price }}<br>
                </div>
            </div>
            <div class="dealer-properties-container">
                <div class="dealer-labels">
                    Dealer:<br>
                    Location:<br>
                    Phone:<br>
                    Date joined:<br>
                </div>
                <div class="dealer-properties">
                    {{ car.dealer.name }}<br>
                    {{ car.dealer.location }}<br>
                    {{ car.dealer.phone_number }}<br>
                    {{ car.dealer.date_joined }}<br>
                </div>
            </div>
            <div class="listing-properties-container">
                <div class="listing-labels">
                    Posted on:<br>
                    Reviews:<br>
                </div>
                <div class="listing-properties">
                    {{ car.posted_on }}<br>
                    {{ car.views }}<br>
                </div>
            </div>
            <div class="edit-listing-button-container">
                <a class="edit-listing-button" href="{% url 'edit-listing' id=car.id %}">
                    Edit Listing
                </a>
            </div>
        </div>
    </div>
{% endblock %}