{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'car-details.css' %}">
{% endblock %}

{% block content %}
    <div class="outher-container">
        <div class="inner-container">
            <div class="car-image-container">
                <img class="car-image" src="{{ car.image }}" alt="">
            </div>
            <div class="car-brand-model">
                {{ car.brand }} {{ car.model }}
            </div>
            <div class="car-data">
                <div class="car-labels">
                    <div class="manufacture-year-label">Manufacture year:</div>
                    <div class="transmission-label">Transmission:</div>
                    <div class="horsepower-label">Horsepower:</div>
                    <div class="mileage-label">Mileage:</div>
                    <div class="price-label">Price:</div>
                </div>
                <div class="car-properties">
                    <div class="manufacture-year">{{ car.manufacture_year }}</div>
                    <div class="transmission">{{ car.transmission }}</div>
                    <div class="horsepower">{{ car.horsepower }} hp.</div>
                    <div class="mileage">{{ car.mileage }} km.</div>
                    <div class="price">${{ car.price }}</div>
                </div>
                <div class="dealer-labels">
                    <div class="dealer-name-label">Dealer name:</div>
                    <div class="dealer-location-label">Location:</div>
                    <div class="dealer-phone-number-label">Phone number:</div>
                    <div class="dealer-date-joined-label">Date joined:</div>
                    <div class="car-views-label">Listing reviews:</div>
                </div>
                <div class="dealer-properties">
                    <div class="dealer-name">{{ car.dealer.name }}</div>
                    <div class="dealer-location">{{ car.dealer.location }}</div>
                    <div class="dealer-phone-number">{{ car.dealer.phone_number }}</div>
                    <div class="dealer-date-joined">{{ car.dealer.date_joined }}</div>
                    <div class="car-views">{{ car.views }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}